.spinner {
  display: inline-block;
  width: 60px;
  height: 60px;
}
.spinner:after {
  content: ' ';
  display: block;
  width: 54px;
  height: 54px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid var(--color-primary);
  border-color: var(--color-primary) transparent var(--color-primary) transparent;
  animation: spinner 1.2s linear infinite;
}
@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
