.dndflow {
  display: flex;
  /* flex-direction: column; */
  flex-grow: 1;
  position: relative;
}
.reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
  height: 100vh;
  background-color: #ccc;
}
.dndflow .dndnode,
.dndflow aside .description {
  margin-bottom: 10px;
}
.dndflow .dndnode.input {
  border-color: #0041d0;
}

.dndflow .dndnode {
  align-items: center;
  border: 1px solid #b28451;
  border-radius: 2px;
  cursor: grab;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 2rem;
  font-size: 1.5rem;
}

.dndflow .dndnode.output {
  border-color: #ff0072;
}
.dndflow .dndnode.default {
  border-color: var(--color-primary);
}
.input-group {
  display: flex;
  position: relative;
}
.input-icon {
  height: 0.8rem;
  width: 0.8rem;
  fill: #ea2027;
}
.input-icon-container {
  height: 2rem;
  width: 2rem;
  border-radius: 50%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  right: 8%;
  top: 27%;
}
.btn-container {
  margin-top: 2rem;
  margin-bottom: 1rem;
  position: relative;
}

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  font-size: 1.5rem;
  background-color: var(--color-secondary);
  padding: 0.8rem 1.2rem;
  color: var(--color-primary-light);
  border-radius: 6px;
  box-shadow: var(--shadow-dark);
  position: relative;
  transition: all 0.3s;
}
.btn:hover,
.btn:link:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active,
.btn:focus {
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}
